@import './utils.scss';

.cancel-reservation.modal-alert.container {
  width: 800px;
  height: 300px;
  display: flex;
  flex-direction: space-between;
}

@media only screen and (max-width: 768px) {
  .cancel-reservation.modal-alert.container {
    width: 95vw;
  }
}