@import './utils.scss';

// Sign-up Form
.sign-up.modal-alert.container {
  width: 644px;
  height: 757px;
}

// Log-in Form
.log-in.modal-alert.container {
  width: 644px;
  height: 550px;
}

// Reservation Cancel Form
.cancel-reservation.modal-alert.container {
  width: 644px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-reservation.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel-reservation.summary > .question {
  margin-bottom: 25px;
}

// Cancelation Success Pop-up

.success-cancel.modal-alert.container {
  width: 644px;
  height: 175px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-cancel.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-cancel.summary > p {
  margin-bottom: 25px;
}

// Review Form

.create-review.small.main.button {
  float: right;
  margin-right: 0px;
  width: 150px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.review-form.container {
  background-color: $super_lightgray;
  border-bottom: 1px solid $lightgray;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review-form.container > h3 {
  color: $mediumgray;
  font-size: 14px;
  padding: 10px 25px;
}

.review-form.container > form > textarea {
  background-color: $white;
  width: 80%;
  height: 100px;
  padding: 15px;
  font-size: 16px;
}

.review-form.buttons > p.link-container {
  width: 75px;
}

.review-form.container > form > .review-form.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}


