@import './utils.scss';

// Sign-up Form
.sign-up.modal-alert.container {
  width: 644px;
  height: 757px;
}

// Log-in Form
.log-in.modal-alert.container {
  width: 644px;
  height: 580px;
}

// Reservation Cancel Form
.cancel-reservation.modal-alert.container {
  width: 644px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-reservation.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cancel-reservation.summary > .question {
  margin-bottom: 25px;
}

// Cancelation Success Pop-up

.success-cancel.modal-alert.container {
  width: 644px;
  height: 175px;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-cancel.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-cancel.summary > p {
  margin-bottom: 25px;
}

// Review Form

.create-review.small.main.button {
  float: right;
  margin-right: 0px;
  width: 150px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.review-form.container {
  background-color: $super_lightgray;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review-form.container > h3 {
  color: $mediumgray;
  font-size: 14px;
  padding: 10px 25px;
}

.review-form.container > form > textarea {
  background-color: $white;
  width: 80%;
  height: 100px;
  padding: 15px;
  font-size: 16px;
}

.review-form.buttons > p.link-container {
  width: 75px;
}

.review-form.container > form > .review-form.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review.errors {
  padding-left: 20px;
}

.review-form.rating {
  padding: 10px 20px;
}

// Review star config

.review-star {
  position: relative;
  
  display: inline-block;
  width: 0;
  height: 0;
  
  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;
  
  border-right:  .3em solid transparent;
  border-bottom: .7em  solid $lightgray;
  border-left:   .3em solid transparent;

  /* Controlls the size of the stars. */
  font-size: 10px;
  
  &:before, &:after {
    content: '';
    
    display: block;
    width: 0;
    height: 0;
    
    position: absolute;
    top: .6em;
    left: -1em;
  
    border-right:  1em solid transparent;
    border-bottom: .7em  solid $lightgray;
    border-left:   1em solid transparent;
  
    transform: rotate(-35deg);
  }
  
  &:after {  
    transform: rotate(35deg);
  }
}

.review-star:hover {
  border-bottom: .7em  solid $main_yellow;
  cursor: pointer;
  &:before, &:after {
    border-bottom: .7em  solid $main_yellow;
  }
}

.review-star.active {
  border-bottom: .7em  solid $main_yellow;
  &:before, &:after {
    border-bottom: .7em  solid $main_yellow;
  }
}

.review-star.active:hover {
  border-bottom: .7em  solid $hover_yellow;
  &:before, &:after {
    border-bottom: .7em  solid $hover_yellow;
  }
}





