@import './utils.scss';

.reservation-edit.container{
  width: 100%;
  border-top: 1px solid $lightgray;
}

.reservation-edit.search.bar > form {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
}

.reservation-edit.date-time-party.selector-container {
  justify-content: flex-end;
}

.reservation-edit.action-buttons {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: none;
}

.reservation-edit.action-buttons > .link-container {
  width: 100px;
  height: 48px;
  text-align: center;
  margin: 10px 20px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Timeslots display
.reservation-edit.timeslots {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px;
}

.reservation-edit.timeslots > .main.medium.button.timeslot {
  margin-left: 20px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .reservation-edit.container{
    width: 90vw;
    border-top: 1px solid $lightgray;
  }

  .reservation-edit.search.bar > form {
    width: 90vw;
  }

  .reservation-edit.search.bar > form .selector {
    width: 80vw;
  }

  .reservation-edit.date-time-party.selector-container {
    justify-content: center;
    margin-bottom: 20px;
  }

  .reservation-edit.action-buttons {
    justify-content: space-between;
  }

  // Timeslots display
  .reservation-edit.timeslots {
    padding: 0px 5vw;
    justify-content: flex-end;
  }

  .reservation-edit.timeslots > .main.medium.button.timeslot {
    margin-left: 10px;
  }

  .reservation-edit.timeslots > .main.medium.button.timeslot:first-child {
    margin-left: 0px;
  }
}
