@import './utils.scss';

.feature-location-index.main-content {
  width: 100%;
  padding: 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
  box-sizing: border-box;
}

.feature-city-index-item.container {
  width: 45%;
  height: 250px;
  margin: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.feature-city-index-item.container:hover {
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
  top: -5px;
  opacity: 0.75;
  cursor: pointer;
}

.city-background {
  width: 100%;
  height: 100%;
}

.item.profile-img {
  width: 100%;
  height: 100%;
}

.overlay-img-color {
  background: $darkgray;
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 0.5;
}

.city.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-name {
  font-size: 28px;
  font-weight: bold;
  color: $white;
}

@media only screen and (min-width: 375px) {
  /* For mobile phones: */
  .feature-location-index.main-content {
    width: 100vw;
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .feature-city-index-item.container {
    flex: 0 0 auto;
    width: 50vw;
    height: 275px;
  }

  .featured-title {
    margin: 0px 5vw;
  }
}

@media only screen and (min-width: 1600px) {
  .feature-city-index-item.container {
  width: 620px;
  height: 300px;
  }

  .feature-location-index.main-content {
  padding: 0px 300px;
  }

  .city-background::after {
  margin-top: -280px;
  height: 300px;
  }
}