@import './utils.scss';

.kitchen-show-outer-container {
  width: 100vw;
  background-color: $off_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kitchen-show.header {
  width: 100%;
  height: 250px;
}

.header-image.container {
  width: 100%;
  height: 250px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://mommycelyarroyorecipe.files.wordpress.com/2016/02/bg.jpg");
}

.header-image.container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kitchen-show.header > .button.favorite {
  position: absolute;
  right: 75px;
  top: 3.5%;
  width: 250px;
}

.kitchen-show.infor-reservation.container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

#mobile-kitchen-reserve-button, #mobile-kitchen-reserve-button-close {
  display: none;
}

.kitchen-show.reservation.search {
  position: fixed;
  top: calc(68px + 250px - 48px - 48px);
  width: 25%;
  right: 10%;
  padding: 25px 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25); 
  box-sizing: border-box;
}

.kitchen-show.reservation.search > h1 {
  font-size: 22px;
  color: $main_orange;
  margin-bottom: 15px;
}

.kitchen-show.reservation.search > form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container > .input-container{
  width: 100%;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container .selector {
  margin-bottom: 10px;
  height: 48px;
  width: 100%;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container .date.selector {
  border-radius: 4px;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container .time.selector {
  border-radius: 4px;
  border-style: solid;
}

.kitchen-show.reservation.search > form > .date-time-party.selector-container .party-size.selector {
  border-radius: 4px;
}

.kitchen-show.reservation.search > form > .main.medium.button {
  width: 100%;
  margin: 10px 0;
}

.kitchen-show.reservation.timeslots {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 15px;
}

.kitchen-show.reservation.timeslots > .timeslot {
  width: 32%;
  margin: 0;
}

.kitchen-show.container {
  position: relative;
  top: -48px;
  width: 65%;
  margin: 0 ;
}

.kitchen-show.nav-container {
  height: 48px;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: $white;
  border-radius: 8px 8px 0px 0px;
  padding-top: 20px;
  box-sizing: border-box;
  z-index: 2;
  border-bottom: 1px solid $lightgray;
}

.kitchen-show.nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 25px;
}

.kitchen-show-nav.item {
  padding-right: 50px;
}

.kitchen-show-nav.item:hover {
  color: $main_orange;
}

.kitchen-show.main-content { 
  width: 100%;
  position: relative;
  background-color: $white;
  padding: 0px 25px;
  box-sizing: border-box;
  padding-bottom: 100px;
  border-radius: 0 0 8px 8px;
}

.kitchen-show.main-content > h1 {
  font-size: 45px;
  font-weight: bold;
  color: $main_blue;
  padding: 30px 0px;
  border-bottom: 1px solid $lightgray;
}

.kitchen-show > h3, .kitchen-show > p {
  padding-top: 20px;
  padding-bottom: 10px;
}

.kitchen-show > h3 {
  font-size: 20px;
  font-weight: bold;
  color: $main_orange;
  border-bottom: 1px solid $lightgray;
}

.kitchen-show > p {
  font-size: 14px;
  line-height: 18px;
}

// photos
.photo-index {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.photo-index-image.container {
  width: 24%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.photo-index-image.container > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

//map
.individual.map.container {
  margin-top: 15px;
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .kitchen-show.header > .button.favorite {
    position: absolute;
    top: calc(54px + 1vh);
    right: 0;
    width: 250px;
  }

  .kitchen-show.container {
    position: relative;
    // top: -96px;
    width: 90vw;
    margin: 0 ;
  }

  .kitchen-show.nav-container {
    height: 96px;
    width: 100%;
  }

  .kitchen-show.nav {
    flex-wrap: wrap;
    padding-left: 5vw;
  }

  .kitchen-show-nav.item {
    padding-right: 0;
    padding-bottom: 15px;
    width: 33%
  }

  .kitchen-show-nav.item {
    padding-right: 25px;
  }

  .kitchen-show.infor-reservation.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #mobile-kitchen-reserve-button, #mobile-kitchen-reserve-button-close {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 23;
    margin: 0;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.45);
  }

  #mobile-kitchen-reserve-button {
    display: block;
  }

  #mobile-kitchen-reserve-button-close {
    display: none;
  }

  .kitchen-show.reservation.search.container {
    display: none;
  }

  .kitchen-show.reservation.search {
    position: fixed;
    margin: 0;
    top: auto;
    bottom: calc(5vh + 48px + 15px);
    right: 5vw;
    width: 80vw;
    background: $white;
    z-index: 22;
  }

  .kitchen-show.reservation.search > form {
    width: 90%;
  }

  .kitchen-show.reservation.timeslots {
    width: 90%;
    margin: 0;
  }

  .kitchen-show.reservation.timeslots > .timeslot {
    width: 31%;
    margin-top: 15px;
  }

  .kitchen-show.main-content { 
    width: 90vw;
    padding: 0px 5vw;
  }

  .kitchen-show.main-content > h1 {
    font-size: 32px;
  }

  // photos
  .photo-index {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .photo-index-image.container {
    width: 75%;
    height: 200px;
    flex: 0 0 auto;
  }

  .photo-index-image.container > img {
    width: 100%;
    height: 100%;
    margin-right: 10px;
  }
}
