@import './utils.scss';

.kitchen-index.item-container {
  width: 800px;
  height: 275px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 2px solid $lightgray;
}

.kitchen-index.item.profile-img {
  width: 275px;
  height: 275px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.kitchen-index.item.profile-img > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.kitchen-index.item.profile-img > img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.kitchen-index.item-infor {
  width: 500px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.kitchen-index.item-infor > a {
  height: 40px;
  font-size: 25px;
  color: $main_blue;
  font-weight: bold;
}

.kitchen-index.item-infor > a:hover {
  text-decoration: underline;
  color: $main_orange;
  cursor: pointer;
}

.kitchen-index.rating-review {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.kitchen-index.item.rating-review > .rating {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.kitchen-index.item.rating-review > .review {
  color: $lightgray;
  font-size: 14px;
}

.medium.star {
  width: 25px;
  height: 25px;
}

.kitchen-index.item.cpl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kitchen-index.item.cuisine, .kitchen-index.item.price, .kitchen-index.item.location{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.kitchen-index.item > p {
  width: 150px;
}

.kitchen-index.item > p.infor {
  width: 300px;
}

.kitchen-index.item-timeslots {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.main.medium.button.timeslot {
  margin: 0;
}

