@import './utils.scss';

.kitchen.basic-infor {
  height: 50px;
  margin: 10px px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kitchen.basic-infor > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 25px;
}

.kitchen.basic-infor > div > .icon {
  opacity: 0.3;
  padding-right: 10px;
}

.kitchen.basic-infor > div > a {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .kitchen.basic-infor {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding-top: 20px;
    font-size: 14px;
  }

  .kitchen.basic-infor > div {
    padding-bottom: 20px;
    padding-right: 0;
    width: 50%;
  }
}
