@import './utils.scss';

.review-index.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0px;
  border-bottom: 1px solid $lightgray;
}

.review-index.user-info {
  width: 25%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.review-index.user-initials.container {
  height: 48px;
  width: 48px;
  padding: 0px 10px;
  border-radius: 50%;
  background-color: $main_blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-index.user-initials.container > .text{
  color: $white;
  font-size: 18px;
  font-weight: bold;
}

.review-index.user-location {
  color: $lightgray;
  font-size: 14px;
  padding-top: 15px;
}

.review-index.main-content {
  width: 75%;
}

.review-index.rating {
  height: 18px;
  margin-bottom: 15px;
  width: auto;
  display: flex;
}

.review-index.rating > .star {
  height: inherit;
  width: auto;
}

.review-index.body {
  font-size: 14px;
  line-height: 18px;
}

.review-index.edit-review {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}