// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './utils.scss';

#root {
  position: relative;
  min-height: 100vh;
  clear: both;
}

.link:hover {
  cursor: pointer;
}

.login.link {
  font-family: 'Varela Round', sans-serif;
  width: 78px;
  height: 68px;
  font-size: 14px;
}

.link.main {
  color: $main_orange
}

.link.secondary {
  color: $lightgray;
}

.link:hover {
  text-decoration: underline;
}

.button {
  border-radius: 4px;
  margin: 10px 20px;
  text-align: center;
  color: $white;
  font-family: 'Varela Round', sans-serif;
}

.small.button {
  width: 78px;
  height: 36px;
  font-size: 14px;
}

.medium.button {
  width: 144px;
  height: 48px;
  font-size: 18px;
}

.large.button {
  width: 400px;
  height: 48px;
  font-size: 18px;
}

.main.button {
  background: $main_orange;
}

.button.cancel {
  background: $main_red;
}

.main.button.cancel:hover {
  background: $hover_red;
}

.secondary.button {
  background: $main_blue;
}

.tertiary.button {
  background: $lightgray;
}

.quaternary.button {
  background: $white;
  color: $darkgray;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
}

.main.button:hover {
  background: $hover_orange;
}

.secondary.button:hover {
  background: $hover_blue;
}

.tertiary.button:hover {
  background: $main_blue;
}

.quaternary.button:hover {
  background: $hover_yellow;
  color: $white;
}

.small.icon {
  width: 20px;
  height: 20px;
}

.icon.light {
  opacity: 0.3;
}

.errors {
  color: red;
}


