$white: #FFFFFF;
$off_white: #FAFAFA;
$lightgray: #B5B5B5;
$mediumgray: #3C3C3C;
$darkgray: #1E1E1E;

$main_orange: #F7874E;
$hover_orange: #D16730;

$main_blue: #69A0D1;
$hover_blue: #4B7DA9;

$main_yellow: #EED266;
$hover_yellow: #DFC356;

$main_green: #55b68d;

$main_red: #B65555;
